
.trump01.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump01.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump01.animateTop {
    top: -40%;
}

.trump02.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump02.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump02.animateTop {
    top: -70%;
    transform: rotate(-30deg);
}

.trump03.animateLeft {
    left: -40%;
    top: -40%;
    transform: rotate(-45deg);
}

.trump03.animateRight {
    right: -40%;
    top: -40%;
}

.trump03.animateTop {
    top: -60%;
    transform: rotate(-30deg);
}

.trump04.animateLeft {
    left: -30%;
    top: -30%;
    transform: rotate(-45deg);
}

.trump04.animateRight {
    right: -30%;
    top: -30%;
    transform: rotate(15deg);
}

.trump04.animateTop {
    top: -30%;
    transform: rotate(-30deg);
}

.trump05.animateLeft {
    left: -30%;
    transform: rotate(-80deg);
}

.trump05.animateRight {
    right: -35%;
    top: -10%;
    transform: rotate(45deg);
}

.trump05.animateTop {
    top: -40%;
    transform: rotate(-30deg);
}

.trump06.animateLeft {
    top: -30%;
    left: -30%;
    transform: rotate(-20deg);
}

.trump06.animateRight {
    right: -35%;
    top: -20%;
    transform: rotate(10deg);
}

.trump06.animateTop {
    top: -20%;
    right: -20%;
    transform: rotate(10deg);
}




/* sky animation idea */

.sky {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.sky img {
    position: absolute;
    height: 50%;
    animation: weather 60s infinite;
}

.sky img:nth-child(1) {
    top: 40%;
    left: -10px;
    transform: rotate(20deg);
}

.sky img:nth-child(2) {
    top: 20%;
    right: -10px;
    animation-direction: reverse;
    transform: rotate(180deg);
}

@keyframes weather {
    0% { left: 0; }
    100%   { left: 100vw; }
}