* {
    box-sizing: border-box;
    font-family: 'Rock Salt', cursive;
}
header {
    padding: 50px;
}
body {
    background-image: url("trump.jpg");
    background-size: cover;
}
h1 {
    font-size: 80px;
}
header,
.startBtn,
h3 {
    text-align: center;
}
ol {
    text-align: center;
    list-style-position: inside;
    line-height: 2em;
    padding: 0;
}
button {
    background: none;
    outline: none;
    border: none;
    display: inline-block;
    padding: 2rem;
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    color 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:active {
    transform: scale(0.90);
}
button:hover {
    filter: invert(79%) sepia(8%) saturate(7419%) hue-rotate(233deg) brightness(93%) contrast(100%);
}