* {
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    background-color: green;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

section {
    display: grid;
}

.trump, .building {
    justify-self: center;
    align-self: center;
}

.building {
    /*z-index: 5;*/
}

.trump01 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.building01 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.trump02 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.building02 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.trump03 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.building03 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.trump04 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.building04 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.trump05 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.building05 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.trump06 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.building06 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.trump01 img {
    transform: rotate(-45deg);
}

.trump02 img {
    transform: rotateY(180deg);
}

.trump05 img {
    transform: rotate(-40deg);
}

.trump.animate {
    position: relative;
}

.trump01.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump01.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump01.animateTop {
    top: -40%;
}

.trump02.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump02.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump02.animateTop {
    top: -70%;
    transform: rotate(-30deg);
}
