@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: auto;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    background-color: green;
    font-family: "Rock Salt", cursive;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    color: #fff;
    background-color: #000;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
}

section {
    display: grid;
}

.trump, .building {
    justify-self: center;
    align-self: center;
}

.trump {
    pointer-events: auto;
}

.building {
    z-index: 5;
    pointer-events: none;
}

.trump01, .building01, .trump02, .building02, .trump03, .building03 {
    grid-row: 1;
}

.trump04, .building04, .trump05, .building05, .trump06, .building06 {
    grid-row: 2;
}

.trump01, .building01, .trump04, .building04 {
    grid-column: 1;
}

.trump02, .building02, .trump05, .building05 {
    grid-column: 2;
}

.trump03, .building03, .trump06, .building06 {
    grid-column: 3;
}

.trump01 img {
    transform: rotate(-45deg);
}

.trump02 img {
    transform: rotateY(180deg);
}

.trump05 img {
    transform: rotate(-40deg);
}

.trump.animate {
    position: relative;
}

.trump01.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump01.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump01.animateTop {
    top: -40%;
}

.trump02.animateLeft {
    left: -20%;
    top: -20%;
    transform: rotate(-45deg);
}

.trump02.animateRight {
    right: -20%;
    top: -20%;
    transform: rotate(45deg);
}

.trump02.animateTop {
    top: -70%;
    transform: rotate(-30deg);
}
