@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
  margin: auto;
  box-sizing: border-box;
  font-family: 'Rock Salt', cursive;
  cursor: url('images/club.cur') 0 30, pointer;
}

*:active {
  cursor: url('images/club1.cur') 0 30, pointer;
}

a:visited,
a:hover,
a {
  text-decoration: none;
  color: #000000;
}

body {
  height: 100vh;
  background-color: #008000;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  overflow-x: hidden;
}

.menuBody * {
  cursor: pointer;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 20%;
  color: #000080;
  background: #00bfff url('images/hill.svg') no-repeat center bottom;
}

.menuScreen:after {
  content: url("images/flag4.svg");
  position: relative;
  top: -80%;
  right: -180%;
}

header span {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('images/cloud.svg') no-repeat center/contain;
}

ol {
  list-style-position: inside;
  line-height: 2em;
  padding: 0;
}

.startBtn {
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, color 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  grid-area: b;
}

.startBtn:active {
  transform: scale(0.9);
}

.startBtn:hover {
  filter: invert(50%) sepia(8%) saturate(7419%)  hue-rotate(100deg);
}

.startImg {
  display: block;
  max-width: 80px;
  margin-bottom: 10px;
}

.instructions {
  grid-area: d;
}

h1 {
  width: 100%;
  font-size: 50px;
  line-height: 40px;
}

h3 {
  margin: 20px;
}

.menuScreen {
  z-index: 10;
  padding-top: 100px;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'a b c'
    'd d d';
}

.menuScreen div {
  margin: 20px 0;
}

li {
  font-family: sans-serif;
  font-size: 1.3rem;
}

main {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

section {
  display: grid;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.trump,
.building {
  justify-self: center;
  align-self: center;
}

.trump {
  transition: 0.5s;
  pointer-events: auto;
}

.building {
  z-index: 5;
  pointer-events: none;
  position: relative;
}

.trump01,
.building01,
.trump02,
.building02,
.trump03,
.building03 {
  grid-row: 1;
}

.trump04,
.building04,
.trump05,
.building05,
.trump06,
.building06 {
  grid-row: 2;
}

.trump01,
.building01,
.trump04,
.building04 {
  grid-column: 1;
}

.trump02,
.building02,
.trump05,
.building05 {
  grid-column: 2;
}

.trump03,
.building03,
.trump06,
.building06 {
  grid-column: 3;
}

.trump01 img {
  transform: rotate(-45deg) translateY(10%);
}

.trump02 img {
  transform: rotateY(180deg);
}

.trump05 img {
  transform: rotate(-40deg);
}

.trump06 img {
  transform: translateY(10%);
}

.trump.animate {
  position: relative;
}

.gif img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.newGame {
  background: green;
  padding: 10px;
  border-radius: 10px;
}

.newGame:hover {
  background-color: darkgreen;
  filter: none;
}

.building01:before {
  content: url('images/flag1.svg');
  position: absolute;
  left: -25%;
  top: 70%;
}

.building02:before {
  content: url('images/flag2.svg');
  position: absolute;
  right: -30%;
}

.building05:before {
  content: url('images/flag3.svg');
  position: absolute;
  top: 40%;
  left: -20%;
}

.building06:before {
  content: url('images/flag4.svg');
  position: absolute;
  top: 3%;
  right: -30%;
}

#pango {
  width: 70px;
}

footer p {
  margin-top: 15px;
}

footer {
  /*margin-top: 80px;*/
}

header div {
  z-index: 10;
}

.trump01,
.trump02,
.trump03 {
  z-index: 1;
}

.trump04,
.trump05,
.trump06 {
  z-index: 3;
}

.building01,
.building02,
.building03 {
  z-index: 2;
}

.building04,
.building05,
.building06 {
  z-index: 4;
}

.modalContainer *, .countdownContainer * {
  cursor: pointer;
}

.modalContainer, .countdownContainer {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: flex;
  justify-content: space-around;
  z-index: 15;
}

.modal, .countdown {
  width: 60%;
  height: 80%;
  background-color: #ffa500;
  display: flex;
  flex-direction: column;
}

.modalContainer {
  position: absolute;
  visibility: hidden;
}

.modal {
  width: 60%;
  height: 80%;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.countdownContainer {
  position: fixed;
  left: 0;
  align-content: center;
}

.countdown {
  align-items: center;
}

.countdownContainer.endCountdown {
  display: none;
}

.countdown div {
  height: 100px;
}

.trumpy {
  position: absolute;
  height: 60vh;
  left: -20vw;
  transform: rotate(-10deg);
  transition: all 1s;
}

.trumpy:hover {
  left: -50vw;
}

.trump01.animateLeft {
  transform: translateX(-40%) translateY(-30%) rotate(-45deg);
}

.trump01.animateRight {
  transform: translateX(40%) translateY(-30%) rotate(45deg);
}

.trump01.animateTop {
  transform: translateY(-80%);
}

.trump02.animateLeft {
  transform: translateX(-80%) translateY(-30%) rotate(-45deg);
}

.trump02.animateRight {
  transform: translateX(80%) translateY(-30%) rotate(45deg);
}

.trump02.animateTop {
  transform: translateY(-80%) rotate(-30deg);
}

.trump03.animateLeft {
  transform: translateX(-40%) translateY(-30%) rotate(-45deg);
}

.trump03.animateRight {
  transform: translateX(80%) translateY(-30%) rotate(45deg);
}

.trump03.animateTop {
  transform: translateY(-80%) rotate(-30deg);
}

.trump04.animateLeft {
  transform: translateX(-40%) translateY(-30%) rotate(-45deg);
}

.trump04.animateRight {
  transform: translateX(40%) translateY(-30%) rotate(15deg);
}

.trump04.animateTop {
  transform: translateY(-80%) rotate(-30deg);
}

.trump05.animateLeft {
  transform: translateX(-40%) translateY(-30%) rotate(-80deg);
}

.trump05.animateRight {
  transform: translateX(40%) translateY(-30%) rotate(45deg);
}

.trump05.animateTop {
  transform: translateY(-80%) rotate(-30deg);
}

.trump06.animateLeft {
  transform: translateX(-40%) translateY(-30%) rotate(-20deg);
}

.trump06.animateRight {
  transform: translateX(40%) translateY(-30%) rotate(10deg);
}

.trump06.animateTop {
  transform: translateY(-80%) rotate(10deg);
}

.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.sky img {
  position: absolute;
  height: 50%;
  animation: weather 60s infinite;
}

.sky img:nth-child(1) {
  top: 40%;
  left: -10px;
}

.sky img:nth-child(2) {
  top: 20%;
  right: -10px;
  animation-direction: reverse;
  transform: rotate(180deg);
}

@keyframes weather {
  0% { left: 0; }
  100%   { left: 100vw; }
}
